@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* -------------------Colors------------------ */

.color-home {
    background-color: #A9DFBF;
}

.color-aboutus {
    background-color: #D2B4DE;
}

.color-services {
    background-color: #7FB3D5;
}

.color-contact {
    background-color: #BFC9CA;
}


/* -------------------Header------------------ */

.col h1 {
    font-family: "Open-Sans", sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 1.5px;
    color: #707b77;
}

.col h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #707b77;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 100px;
    padding-top: 20px;
}

.menuitem a i {
  display: block;
  color: #fafafa;
  font-size: 25px;
  margin-bottom: 5px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #fff;
}


/* -------------------Hover------------------ */

.hvr-sweep-to-bottom::before {
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
}

.social-links li a i:hover {
    background: #707b77;
}

/* -------------------Callout------------------ */

.heroimage {
    height: 100vh;
    background-image: url(../images/heroimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

  .callout { 
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 200;
    
    color: #fff;
    padding-top: 20px;
}


/* -------------------Reviews------------------ */

.color-background {
    height: 400px;
    background-color: #FBFCFC;
}

.review-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #707b77; 
    margin-bottom: 0;
    border-bottom: 0;
}

.blockquote {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #707b77; 
}

/* Block dividers */

.block-divider {
    width: 90px;
    height: 5px;
    border: 0;
    margin-top: 10px;
    background-color: #0B25D7;
}


/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* -------------------Footer------------------ */

footer {
    background-color: #fff;
    color: #707b77;
    font-weight: 400;
    min-height: 80px;
    margin: 0;
}

#footer-details {
    padding: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Open-Sans", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #707b77;
    margin-top: 10px;
}

.inline-block {
    margin-top: 30px;
    font-size: 18px;
}

.btn-outline-success {
    padding: 10px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    }

.social-links li a i {
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 50%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #0B25D7;
    
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* -------------------Media Queries------------------ */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
  .container-fluid {
    width: 100%;
  }