@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* ------------------- Menu Colors------------------ */

.color-home {
  background-color: #a9dfbf;
}

.color-aboutus {
  background-color: #d2b4de;
}

.color-services {
  background-color: #7fb3d5;
}

.color-contact {
  background-color: #bfc9ca;
}

/* -------------------Header------------------ */
.header-title {
  align-items: center;
  align-content: center;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.header-title h1 {
  font-family: "Open-Sans", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 84px;
  letter-spacing: 1.5px;
  color: #707b77;
}

.header-title h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #707b77;
}

.menu-boxes {
  width: 100%;
}

.menu-boxes h1 {
  font-family: "Open-Sans", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 84px;
  letter-spacing: 1.5px;
  color: #707b77;
}

.menu-boxes h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #707b77;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav li {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 0;
}

.menuitem {
  height: 100px;
  text-align: center;
  padding: 0px;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  height: 100px;
  padding-top: 20px;
}

.menuitem a i {
  display: block;
  color: #fafafa;
  font-size: 25px;
  margin-bottom: 5px;
}

.menuitem span {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
}

/* -------------------Hover------------------ */

.hvr-sweep-to-bottom::before {
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
}

.social-links li a i:hover {
  background: #707b77;
}

.profiles a:hover > img{
  filter: none;
}

/* -------------------Buttons------------------ */

.contact-hero-btn {
  padding: 10px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;

  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #0c24d3;
}

.btn-outline-dark {
  margin-top: 18px;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

/* -------------------Hero Section------------------ */

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/heroimage.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 84px;
  margin-top: 0;
  margin-bottom: 10px;
}

.hero h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 38px;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* -------------------Reviews------------------ */

.review-header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blockquote {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
}

.blockquote-footer {
  background-color: #34495e;
  color: #fff;
}

.checked {
  color: orange;
}

.star-header {
  font-family: "Open Sans", sans-serif;
  height: 25px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

/* -------------------Block Dividers------------------ */

.block-divider--solid {
  width: 50%;
  border-top: 2px solid #fff;
}

.block-divider--short {
  width: 100px;
  border-color: #0b25d7;
}

.block-divider-bio {
  width: 50%;
  border-color: #a9dfbf;
  border-width: 2px;
}

.block-divider--long {
  width: 70%;
  border-color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}

.block-divider-contact {
  width: 70%;
  border-color: #fff;
}

/* -------------------Containers------------------ */

.container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-fluid {
  padding: 0px;
}

.container-wrapper {
  height: 500px;
  padding: 30px;
  background-color: #34495e;
}

/* -------------------Footer------------------ */

footer {
  background-color: #f5f5f5;
  color: #707b77;
  font-weight: 400;
  min-height: 80px;
  margin: 0;
  padding: 20px;
}

#footer-details {
  padding: 25px;
}

.general-sub {
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  color: #707b77;
  margin-top: 10px;
}

.about-sub {
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #707b77;
  margin-top: 10px;
}

.inline-block {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 18px;
  margin-top: 30px;
}

.social-links li a i {
  width: 35px;
  height: 35px;
  padding: 12px 0;
  border-radius: 50%;
  margin-top: 25px;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
  color: #fafafa;
  background: #0b25d7;

  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* -------------------About Us page------------------ */

.team-section {
  text-align: center;
  background: #34495e;
  padding: 60px;
}

.team-section h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 75px;
  margin-bottom: 30px;
}

.team-section h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profiles {
  margin-bottom: 40px;
}

.profiles a {
  display: inline-block;
  margin: 0 30px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 20px;
}

.profiles a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s all;
}

.bio-section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: #fff;
  text-align: justify;
  height: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.bio-section:target {
    height: auto;
}

.name {
    display: block;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fff;
}

/* -------------------Services page------------------ */

.services-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/12.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  padding: 60px 0;
}

.inner-width {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 30px;
  font-size: 75px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  font-family: "Rubik", sans-serif;
  max-width: 33.33%;
  margin-top: 20px;
  padding: 60px;
  text-align: center;
}

.service-title {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-desc {
  padding: 15px;
  font-size: 16px;
  color: #fff;
}

.service-box:hover {
  background-color: rgba(11, 37, 215, 0.5);
  border-radius: 50px;
}

/* -------------------Contact page------------------ */

.bg-img-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/skyline.jpg);
  min-height: 100vh;
  min-width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.contact-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #fff;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.sub-contact-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
  padding-top: 20px;
  margin: auto;

  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.center-form {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 50%;
  color: #fff;
}

#projectsummary {
  height: 250px;
}

/* -------------------Media Queries------------------ */

@media screen and (max-width: 600px) {
  .header-title {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
  .header-title {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
  .menu-boxes {
    width: 100%;
  }
  .service-box {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    display: none;
  }
  .service-box {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-title {
    display: none;
  }
  .service-box {
    max-width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {

}

