@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.heading {
    color: #1027d4;
}


/* -------------------Callout------------------ */

.heroimage {
    height: 1200px;
    background-image: url(../images/heroimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.callout {
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 52px;
    color: darkslateblue;
    padding: 100px;
}


/* -------------------Reviews------------------ */

.reviews {
    height: 600px;
    background-color: red;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px;
}

/* -------------------Footer------------------ */

.footer_about {
    background-color: blue;
}

.footer_got_a_project {
    background-color: pink;
}

.footer_social {
    background-color: yellow;
}



/* -------------------Media Queries------------------ */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }